body {
	background: #fff;
	font-family: sans-serif; 
	font-size: 14px;
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
	font-family: 'Playfair Display', serif;
}

h1 {
	font-size: 32px;
	font-weight: 700;
	font-style: italic;
	background: #282828;
	color: #fff;
	margin: 10px;
	text-align: center;
	width: 200px;
	height: 60px;
	line-height: 53px;
}

h2 {
	font-size: 20px;
	font-weight: 700;
	font-style: italic;
	color: #282828;
	padding: 0;
	margin: 0px 0px 20px 0px;
}

h3 {
	font-size: 18px;
	font-weight: 700;
	font-style: italic;
	color: #2eb1d7;
	padding: 0;
	margin: 0px 0px 10px 0px;
}

.wrap {
	width: 100%;
	height: auto;
	margin: 100px 20px 0px 20px;
	z-index: -9999;
}

.wrap-sub {
	width: 50%;
	height: 100%;
	float: left;
}

.header {
	width: 100%;
	height: 80px;
	background: #fff;
	/*border-bottom: 1px solid #F3F3F3;*/
	position: fixed;
	top: 0;
	left: 0;
}

.slider-properties {
	height: 100%;
	background: #e9f5f8;
	opacity: .98;
	position: absolute;
	top: 0;
	right: 0;
	line-height: 100%;
}

.slider-placeholder {
	width: 25px;
	cursor: pointer;
	float: right;
}

.slider-retractor {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	cursor: pointer;
}

.slider {
	width: 50%;
	display: none;
	float: left;
	padding-top: 50px;
	padding-left: 50px;
}

.visual-a-placeholder {
	width: 90%;
	height: 500px;
	background: #CFCFCF;
	float: left;
	margin: 0px 0px 25px 0px;
}

.meal-wrapper {
	width: 90%;
	height: auto;
	float: left;
}

.meal-item {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #D9D9D9;
	float: left;
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 20px 0px;
	position: relative;
}

.visual-one {
	font-size: 12px;
	position: relative;
	z-index: 99999;
}

.measurement {
	position: absolute;
	top: 10px;
	right: 0;
	color: #D9D9D9;
	font-weight: 700;
}

.data {
	color: #737373;
	font-size: 12px;
	font-weight: 400;
	float: left;
	width: 100%;
}

.data table {
	width: 100%;
}

.data table td {
	text-align: right;
}

.data table .value {
	font-weight: 700;
	text-align: left;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: optimizeSpeed;
}

.dot {
  opacity: .75;
  shape-rendering: geometricPrecision;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

.details {
  text-align: left;
  line-height: 16px;
}

.visual-one-info {
	width: 90%;
	height: 75px;
	font-size: 11px;
	padding: 15px;
	background: transparent;
	border: 1px dotted #c9e6ed;
	color: #000;
}